
@{
    ViewBag.Title = "UserDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin DashBoard</h2>

<div class="col-md-offset-2 col-md-10" style="color:green">
    @ViewBag.Message

</div>
